body
{
    color: rgb(191, 255, 161);
    background-color: rgb(49, 61, 42);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input
{
    margin: 10px auto;
    text-align: center;
    color: rgb(49, 61, 42);
    border: 2px solid rgb(131, 167, 113);
    border-radius: 20px;
    background-color: rgb(191, 255, 161);
}

input:focus
{
    outline: none;
}

.processEntryBtn
{
    height: 50px;
    width: 75px;
    border: 2px solid rgb(131, 167, 113);
    border-radius: 20px;
    color: rgb(49, 61, 42);
    background-color: rgb(191, 255, 161);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.processEntryBtn:hover
{
    color: rgb(49, 61, 42);
    background-color: rgb(131, 167, 113);
}

.processEntryBtn:active
{
    border: 2px solid rgb(104, 131, 90);
    background-color: rgb(104, 131, 90);
}

.row
{
    margin: 20px 0px;
    font-size: larger;
}

.bubble
{
    color: rgb(49, 61, 42);
    background-color: rgb(191, 255, 161);
    text-align: center;
    word-wrap: break-word;
    width: 450px;
    margin: 40px auto;
    border-radius: 20px;
    padding: 10px 5px;
}